@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300');

.main {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    display: block;

    .list-container {
        width: 1045px;
        margin: 0 auto;
    }
}

body {
    background: #0147A7;
    color: #EEE;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100 !important;
}

.title {
  font-size: 3em;
}

* {
    font-family: 'Roboto';
    font-weight: lighter;
}
