@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300');
$page-size: 1035px;

.main {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    display: block;

    .search-input {
        width: 100%;
        padding: 5px;
        color: #FFF;
        background: transparent;
        font-weight: 200;
        outline: none;
        border: none;
        border-bottom: 1px solid #5384FF;
        font-size: 1.5em;
        padding-left: 5px;
        margin: 10px;
    }

    .list-container {
        width: $page-size;
        margin: 0 auto;
    }
}

body {
    background: #0147A7;
    color: #EEE;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100 !important;
}

.title {
    font-size: 3em;
}

* {
    font-family: 'Roboto';
    font-weight: lighter;
}
